 /* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 300 to 800 */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Common Styles  */
body {
    margin: 0;
    height: 100%;
}

.orange-text {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.orange-btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.hero {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.para-1 {
    font-size: 18px;
    color: #757575;
}

.para-2 {
    font-size: 16px;
    color: #757575;
}

/* Nav styles */

nav ul li {
    list-style-type: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}


/* Banner */
.banner {
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 585px;
}

.banner-content > h4 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-content > h1 {
    font-size: 85px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

.banner-content > p {
    font-size: 18px;
    margin-top: 20px;
}

.banner-img {
    width: 584px;
    margin-right: 40px;
}


/* About Section  */


.about {
    box-sizing: border-box;
    margin: 130px 230px;
    border-top: 131px #FFF8F3 solid;
    border-right: 156px #FFF8F3 solid;
    border-bottom: 131px #FFF8F3 solid;
    border-left: 156px #FFF8F3 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about >.section-title {
    margin: 5px 0;
}

.about > p {
    margin: 10px 5px;
    text-align: center;
}

.personal {
    margin-top: 10px;
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.info p {
    text-align: center;
    font-size: 20px;
}

.info p:first-child {
    color:#757575;
    margin-bottom: 5px;
}

.info p:last-child {
    font-weight: bold;
    color: #474747;
    margin-top: 5px;
}

/* Activities Section  */

.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 230px;
}

.activity > .para-1 {
    text-align: center;
    margin: 0 10%;
}

.cards {
    margin: 40px auto;
    display: flex;
    gap: 34px;
}

.card {
    padding: 50px;
}

.card {
    width: 80%;
    text-align: left;
    box-shadow: 0 0 25px 5px #eee;
}